@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}

body,
html {
    width: 100vw;
    height: fit-content;
    font-family: "Varela Round", sans-serif;
    color: whitesmoke;
    //margin-bottom: 10vh;
}

h2 {
    padding: 2vh 2vw;
}

#navimage {
    background-image: url(../../public/images/reelmoments.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 9vw;
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 2vh auto;
    height: 2vh;
    list-style: none;
}

.menu li {
    width: fit-content;
    height: fit-content;
    transition: background-position-x 0.9s linear;
    justify-content: center;
    text-align: center;
    border-radius: 7%;
    //margin-top: 15vh;
    padding: 0.5vh 0.5vw;

    a {
        font-size: 2.2vh;
        color: white;
        text-decoration: none;
        transition: all 0.45s;
    }

    &:hover {
        background-color: rgba(245, 245, 245, 0.541);
    }

    &:hover a {
        color: black;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

.wrapper {
    min-height: 50vh;
    color: gold;
    background-color: rgba(163, 158, 158, 0.664);
    width: 80vw;
    //display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vw;
}

.footer-basic {
    padding: 2vh;
    background-color: rgb(95, 27, 42);
    border: gold outset 0.2vw;
    color: whitesmoke;
    bottom: 0;
    width: 100vw;
    position: absolute;
    height: fit-content;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 1.8vh;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 1vw;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 1vh;
    color: darkgray;
}

.footer-basic .social > a {
    font-size: 2.4vh;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    padding-bottom: 1vh;
}

//button on editor content form
#create {
    margin: 1vh 1vw;
}
