@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}

body,
html {
    width: 100vw;
    height: fit-content;
    font-family: "Varela Round", sans-serif;
    color: whitesmoke;
    //margin-bottom: 10vh;
}

h3 {
    padding-top: 2vh;
    padding-left: 0;
}

h4 {
    padding-left: 2vw;
}

h2 {
    padding-left: 5vw;
    padding-bottom: 2vh;
}

//header image
#navimage {
    background-image: url(../../public/images/reelmoments.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 9vw;
    display: flex;
}

//navbar

.logo-image {
    // width: 30vw;
    height: fit-content;
    // border-radius: 7%;
    overflow: hidden;
    margin-right: 5vw;
    border: goldenrod outset 0.2vw;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    margin-top: -2.5vh;

    @media only screen and (max-width: 1700px) {
        margin-right: 2vw;
        margin-top: -1vh;
    }

    @media only screen and (max-width: 1200px) {
        margin-right: 2vw;
        margin-top: -0.5vh;
    }

    @media only screen and (max-width: 1000px) {
        margin-right: 2vw;
        margin-top: 0vh;
    }

    @media only screen and (max-width: 900px) {
        margin-right: 2vw;
        margin-top: 0vh;
    }

    @media only screen and (max-width: 800px) {
        margin-right: 1vw;
        margin-top: 0vh;
    }
}

#menu {
    display: flex;
    justify-content: center;
    //align-items: center;
    max-width: 100vw;
    margin: 1vh auto;
    height: fit-content;
    list-style: none;
    padding: 2vh;

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

#caret {
    width: 8vw;
    text-decoration: none;
    padding: 0;
    border-color: black;
}

#search {
    background-color: rgba(245, 245, 245, 0.534);
    color: black;
}

#searchbtn {
    color: black;
}

.mobile-menu {
    li {
        background-color: gray;
        border: solid 0.2vw #474544;
    }

    a {
        color: whitesmoke;

        &:hover {
            color: black;
        }
    }
}

#mobMenuLi {
    justify-content: center;
}

#searchmob {
    color: whitesmoke !important;
    width: 5vw;
    // padding-left: 0;
    justify-content: center;
}

#searchbtnmob {
    color: whitesmoke;
    justify-content: center;
}

#caretmob {
    color: whitesmoke;
    width: fit-content;
}

#showposts {
    margin: 0.5vw;
    @media only screen and (max-width: 767px) {
        margin: 0;
    }
}

.postText {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vh;
}

#postBox {
    // justify-content: center;
    // align-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: auto;
    margin-left: auto;
    border: solid 0.1vw #4745449a;
    @media only screen and (max-width: 767px) {
        border: none;
        border-top: solid 0.1vw #4745449a;
    }
    //padding-bottom: 2vh;
    // padding-top: 2vh;
}

#newsub,
#newpost {
    margin-top: 3vh;
    color: whitesmoke;
    border: solid 0.2vw #474544;
    border-radius: 7%;

    &:hover {
        background-color: gray;
        color: black;
    }
}

#showpost,
#showsubs {
    color: whitesmoke;
    border: solid 0.2vw #474544;
    border-radius: 7%;

    &:hover {
        background-color: gray;
        color: black;
    }
}

#menu li,
#search,
#logout,
#backBtn {
    color: whitesmoke;
    font-size: 2.2vh;
    width: fit-content;
    height: 4vh;
    transition: background-position-x 0.9s linear;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    //margin-top: 15vh;
    padding: 0.5vh 0.5vw;

    a {
        font-size: 2.2vh;
        color: whitesmoke;
        text-decoration: none;
        transition: all 0.45s;
    }

    &:hover {
        background-color: rgba(245, 245, 245, 0.541);
    }

    &:hover a,
    input {
        color: black;
    }

    &:not(:last-child) {
        margin-right: 3vw;
    }
}

#backBtn {
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(18, 11, 36, 0.883);
    border: solid 0.2vw #474544;
    border-radius: 7%;
    color: white;
    width: fit-content;
    height: min-content;
    font-size: 1.7vh;
    padding: 1vh 1vw;
    text-decoration: none;

    &:hover {
        background-color: gray;
        color: black;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

#link {
    color: black;
    text-decoration: underline;

    &:hover {
        color: blue;
    }
}
//content
#wrapper {
    min-height: 50vh;
    color: black;
    background-color: rgb(107, 31, 49);
    border-radius: 30px;
    width: 76vw;
    //display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 12vh;
    // padding: 2vw 2vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#soloArt,
#showSubs {
    margin: 1vw 4vh;
}

.posted {
    //background-color: rgba(95, 27, 42, 0.459);
    //padding: 0.5vw;
    height: fit-content;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 4vh;
}

#comms {
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}

.media-body {
    background-color: rgba(163, 158, 158, 0.616);
    border: solid 0.1vw #474544;
}

.media-body,
.postText {
    padding-top: 2vh;
    padding-left: 2vw;
    // background-color: rgba(163, 158, 158, 0.616);
    // color: black;
}

.card-body {
    padding-top: 2vw;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
    border: solid 0.1vw #474544;
}

.blogPic {
    width: fit-content;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: goldenrod outset 0.3vw;
}

//contact form
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    font-family: "Montserrat", Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

//button on editor content form
#create {
    margin: 1vh 1vw;
}

#contact_form {
    margin-top: 2vh;
}

body {
    background: #f2f3eb;
}

button {
    overflow: visible;
}

#telephone_input,
#name_input,
#subject_input,
#email_input {
    color: black;
    background-color: whitesmoke;
    font-size: 1em;
    justify-content: center;
    align-content: center;
}

select {
    text-transform: none;
}

button,
input,
select,
textarea {
    color: black;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#container {
    border: solid 0.3vw #474544;
    //border-radius: 7%;
    max-width: 70vw;
    margin: 3vw auto;
    position: relative;
    background-color: rgba(211, 211, 211, 0.685);
    padding: 2vh 2vw;
}

form {
    padding: 3.8vw 3.8vh;
    margin: 3vw 0;
}

h1 {
    color: black;
    font-size: 1.5vh;
    font-weight: 500;
    letter-spacing: 0.3vw;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3vh;
}

.underline {
    border-bottom: solid 0.2vh #474544;
    margin: -0.512em auto;
    width: 8vw;
}

.icon_wrapper {
    margin: 2vh auto 0;
    width: 100%;
}

.icon {
    display: block;
    fill: #474544;
    height: 5vh;
    margin: 0 auto;
    width: 5vw;
}

.email {
    float: right;
    width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 0.2vh #474544;
    color: black;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1vw;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
    font-size: 1em;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
        no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 15vh;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background-color: rgba(18, 11, 36, 0.883);
    border: solid 0.2vw #474544;
    border-radius: 7%;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 1vw;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: fit-content;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;

    &:hover {
        background-color: gray;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    #container {
        margin: 2vw auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.6vh;
    }

    .underline {
        width: 6.8vw;
    }

    #form_button {
        padding: 1.5vw 2.5vh;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 1.8vh;
    }

    .icon {
        height: 3.5vh;
        width: 3.5vw;
    }

    .underline {
        width: 5.3vw;
    }

    input[type="text"],
    [type="email"],
    select,
    textarea {
        font-size: 0.875em;
    }
}

//footer
.footer-basic {
    padding: 2vh;
    background-color: rgb(107, 31, 49);
    border: goldenrod outset 0.2vw;
    color: whitesmoke;
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: fit-content;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    font-size: 1.8vh;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 1vw;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 1vh;
    color: darkgray;
}

.footer-basic .social > a {
    // font-size: 24px;
    width: 4vw;
    height: 4vh;
    line-height: 4vh;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 0.1vw solid #ccc;
    margin: 0 0.8vh;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright .topPage {
    margin-top: 1.5vh;
    text-align: center;
    // font-size: 24px;
    color: #aaa;
    margin-bottom: 0;
    padding-bottom: 1vh;
}
